body{
	font-family: 'Roboto', sans-serif;
}
h1, h2{
	font-size: 48px;
}
h2, p.title{
	font-weight: 700;
	color: #cb0035;
	background: linear-gradient(to right, #cb0035, #e06900);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
body, p{
	font-size: 18px;
	color: #5e6372;
}
a{
	text-decoration: none;
	color: inherit;
}
.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
}

header{
	position: relative;
	background: #d73d16 url(../img/bg-header.png) no-repeat center;
	height: 100vh;
	color: #fff;
	text-align: center;
	overflow: auto;
}
h1{
	padding: 25vh 0 20px;
}
.container{
	width: 1238px;
	margin: 0 auto;
}
.logo{
	display: block;
	float: left;
	padding: 53px 0 0 3px;
	font-size: 36px;
	font-weight: 300;
	color: #fff;
}
.logo span{
	font-weight: 700;
}
nav{
	float: right;
}
nav ul li{
	display: inline-block;
	margin: 69px 34px 0 0;
}
nav ul li:last-child{
	padding-right: 0;
}
.sub-title{
	padding: 8px;
	color: #ea8237;
}
.buttons{
	padding-top: 57px;
}
.buttons a{
	display: block;
	width: 100%;
	height: 100%;
}
.button{
	display: inline-block;
	width: 205px;
	height: 50px;
	border-radius: 25px;
	text-align: center;
	line-height: 50px;
	background: #fff;
	color: #d32721;
	box-sizing: border-box;
}
.buttons .button:first-child{
	margin-right: 20px;
}
.buttons .button:hover{
	background: none;
	color: #fff;
	border: 1px solid #e98664;
}
.down{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	opacity: 0.3;
}
.down p{
	padding-top: 10px;
	font-weight: 300;
}


.icons{
	background: #f6f6f6;
	height: 600px;
	text-align: center;
}
.icons .container{
	padding-top: 116px;
}
.ico-item{
	display: inline-block;
	padding-right: 90px;
	width: 17%;
}
.ico-line .ico-item:last-child{
	padding-right: 0;
}
.ico-img{
	height: 98px;
	line-height: 98px;
}
.ico-img img{
	vertical-align: middle;
}
.ico-item p{
	padding: 10px 0;
	line-height: 30px;
}
p.title{
	padding: 16px 0;
	font-size: 30px;
}
.icons .button, .portfolio .button{
	margin: 94px 0 99px;
	font-size: 18px;
	color: #fff;
	background: #29489a;
}
.icons a{
	display: block;
	width: 100%;
	height: 100%;
}

.info{
	background: #fff url(../img/Drone-bg.png) no-repeat right top;
	padding-bottom: 115px;
}
.info-head{
	margin-left: 5px;
}
.info-head, .info-content{
	width: 73%;
}
.info-content{
	counter-reset: point;
}
.info h2{
	padding: 120px 0 30px;
}
.info p{
	line-height: 36px;

}
p.points{
	display: inline-block;
	width: 44%;
	padding: 60px 50px 0 0;
	font-size: 14px;
	line-height: 24px;
	color: #c7cde0;
}
p.points:before{
	content: counter(point);
	counter-increment: point;
	display: inline-block;
	float: left;
	margin-right: 30px;
	text-align: center;
	font-size: 24px;
	line-height: 50px;
	color: #3f4e76;
	width: 50px;
	height: 50px;
	border: 2px solid #c7cde0;
	border-radius: 25px;
}


.portfolio{
	background: #f6f6f6;
	width: 100vw;
}
.portfolio .button{
	margin: 0;
}
.box{
	display: inline-block;
	vertical-align: top;
	width: 49%;
	position: relative;
}
.box i{
	position: absolute;
	width: 14px;
	height: 17px;
	padding: 15px 15px 16px 19px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 25px;
	box-shadow: 0 0 49px rgba(10, 22, 45, .4);
}
.bg1 a, .bg2 a{
	width: 50px;
	height: 50px;

}
.box p{
	padding: 34px 0 62px;
	line-height: 36px;
}
.bg1, .bg2{
	height: 641px;
}
.bg1{
	background: url(../img/foto1.png);
}
.bg2{
	background: url(../img/foto2.png);
}
.box-content{
	width: 560px;
	padding-top: 180px;
}
.box .box-content:first-child{
	padding-left: 75px;
}
.box .box-content:last-child{
	padding-right: 75px;
	float: right;
}

.feedback{

	height: 489px;
	background: url(../img/mail-bg.png) no-repeat center;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
.feedback h2{
	padding: 125px 0 60px;
	background: none;
	-webkit-text-fill-color: #fff;
}
input[type="text"]{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: rgba(255, 255, 255, .3);
	width: 300px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, .4);
	border-radius: 25px;
	padding-left: 30px;
}
::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
}
::-moz-placeholder {
  color: #fff;
  font-size: 18px;
}
:-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
}
:-moz-placeholder {
  color: #fff;
  font-size: 18px;
}
input[type="submit"]{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	background: #fff;
	width: 135px;
	height: 50px;
	border-radius: 25px;
	color: #d32721;
	cursor: pointer;
}